<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Home</title>
		
		<head th:fragment="css">
			<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
			<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		</head>
		
		<head th:fragment="js">
			<script th:src="@{/js/bootstrap.js}"></script>
		</head>
		
		<head th:fragment="jquery">
			<link href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
		</head>
		
		<head th:fragment="common-style">
			<style type="text/css">
				body {
					background-color: #F1F1F2;
					font-family: 'Poppins', sans-serif;
				}
				.container {
					font-size: 30px;
				}
				
				#home-title {
					margin-top: 50px;
				}
				
				#page-title {
					margin-top: 20px;
				}
				
				
			</style>
		</head>
	</head>
	
	<body>
		<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color: #1995AD;">
			<a class="navbar-brand" th:href="@{/}">SIPEG</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/pegawai/cari}">Cari Pegawai</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/jabatan/viewall}">Lihat Semua Jabatan</a>
					</li>
				</ul>
			</div>
		</nav>	
	</body>
</html>