<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Detail Pegawai</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		
		<object th:include="fragments/fragment :: common-style" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<h3 id="page-title" align="center" th:text="'Data Pegawai Tertua'"></h3>
						<div class="card text-center" style="width: 30rem; margin: 0 auto;">
						  <div class="card-header" style="background-color: #A1D6E2">
						    <a th:text="'NIP: ' + ${tertua.nip}"></a>
						  </div>
						  <div class="card-body">
						    <h4 class="card-title" th:text="${tertua.nama}"></h4>
						    <p class="card-text" th:text="${tertua.tempatLahir} + ', ' + ${tertua.tanggalLahir}"></p>
						    <p class="card-text" th:text="'Pegawai di ' + ${tertua.instansi.nama} + ' - ' + ${tertua.instansi.provinsi.nama}"></p>
						    <p class="card-text" th:text="'Sejak ' + ${tertua.tahunMasuk}"></p>
						    <p class="card-text">
								<span th:each="jabatan, iterStat : ${tertua.listJabatan}">
									<strong><a th:text="${jabatan.nama}"></a></strong>
									<a th:if="${iterStat.last} == false" th:text="'| '"></a>	
								</span>
							</p>
						    <form th:action="@{/pegawai/ubah}" class="form-inline" method="GET">
								<input type="hidden" th:value="${tertua.nip}" name="nip"></input>
								<button style="margin: 0 auto;" class="btn btn-info mb-2" type="submit">Ubah</button>
							</form>
						  </div>
						  <div class="card-footer" style="background-color: #A1D6E2">
						    <a th:text="'Gaji: Rp' + ${gajiTertua}"></a>
						  </div>
						</div>
					</div>
					
					<div class="col-md-6">
						<h3 id="page-title" align="center" th:text="'Data Pegawai Termuda'"></h3>
						<div class="card text-center" style="width: 30rem; margin: 0 auto;">
						  <div class="card-header text-white" style="background-color: #1995AD">
						    <a th:text="'NIP: ' + ${termuda.nip}"></a>
						  </div>
						  <div class="card-body">
						    <h4 class="card-title" th:text="${termuda.nama}"></h4>
						    <p class="card-text" th:text="${termuda.tempatLahir} + ', ' + ${termuda.tanggalLahir}"></p>
						    <p class="card-text" th:text="'Pegawai di ' + ${termuda.instansi.nama} + ' - ' + ${termuda.instansi.provinsi.nama}"></p>
						    <p class="card-text" th:text="'Sejak ' + ${termuda.tahunMasuk}"></p>
						    <p class="card-text">
								<span th:each="jabatan, iterStat : ${termuda.listJabatan}">
									<strong><a th:text="${jabatan.nama}"></a></strong>
									<a th:if="${iterStat.last} == false" th:text="'| '"></a>	
								</span>
							</p>
						    <form th:action="@{/pegawai/ubah}" class="form-inline" method="GET">
								<input type="hidden" th:value="${termuda.nip}" name="nip"></input>
								<button style="margin: 0 auto;" class="btn btn-info mb-2" type="submit">Ubah</button>
							</form>
						  </div>
						  <div class="card-footer text-white" style="background-color: #1995AD">
						    <a th:text="'Gaji: Rp' + ${gajiTermuda}"></a>
						  </div>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>